ion-content {
    --background: #3b4159;
}
.icon {
    margin-top: 35%;
    text-align: center;
}
.logo {
    text-align: center;
    margin-top: 10%;
}
.title {
    text-align: center;
    color: white;
}
.title > h6 {
    font-size: 0.8rem;
    font-weight: 300;
    color: #ffffff;
}
.facebook-button {
    --background:#405a98;
    --color: white;
    --border-radius: 5px;
    letter-spacing: 1px;
    font-size: 18px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}
.google-button {
    --background: white;
    --color: #ec6f70;
    --border-radius: 5px;
    letter-spacing: 1px;
    font-size: 18px;
    margin-inline-start: 10px;
    height: 2.5em;
   
}
.twitter-button {
    --background:#55b0e2;
    --color: white;
    --border-radius: 5px;
    letter-spacing: 1px;
    font-size: 18px;
    margin-inline-end: 10px;
    height: 2.5em;
}