<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <div class="icon">
        <img src="assets/images/tindioIcon-sm.png" alt="">
      </div>
      <div class="logo">
        <img src="../../assets/images/tindioLogo-sm.png" alt="">
      </div>
      <div class="title">
        <h6>Unlock the full Experience</h6>
      </div>
    </ion-col>
  </ion-row> 
  <ion-row>
    <ion-col size="12">
      <div class="facebook">
        <ion-button expand="block" class="facebook-button" (click)="doFbLogin()">Sign In With Facebook</ion-button>
      </div>
    </ion-col>
    <ion-col size="6">
      <div class="google">
        <ion-button expand="block" class="google-button" (click)="doGoogleLogin()">Google</ion-button>
      </div>
    </ion-col>
    <ion-col size="6">
      <div class="twitter">
        <ion-button expand="block" class="twitter-button" (click)="doTwLogin()">Twitter</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>  
</ion-content>
