<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <span *ngIf="spinner" >
    <div style="margin: 30px auto;text-align: center;">
        <ion-spinner  name="lines"></ion-spinner>
    </div>
  </span> 
    
   <span *ngIf="!spinner">
    
    <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let product of products">
            <div class="product">
              <div class="product-image"><img src="{{ product?.image.src }}" alt=""></div>
              <p class="product-name"> {{ product?.name }}</p>
              <div class="product-price-store">
                <p class="product-price-currency">{{ product?.price| slice:0:-2 }}{{product?.currency}}.</p>
                <p class="product-store">{{ product?.store_name}}</p>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
   </span>
</ion-content>
