ion-grid {
    margin-top: 6px;
}
ion-row {
    padding-left: 4px;
    padding-right: 4px;
}
ion-col {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: -5px;
}
.product-image {
    // padding: 0 5px 5px 0;
}
.product-image > img {
    border-radius: 10px;
}
.product-name {
    text-align: center;
    color: black;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
    margin: auto;
    margin-top: 3px;
}
.product-price-currency{
    display: inline-block;
    font-weight: 600;
    color: blue;
    margin-top: 0px;
    font-size: 14px;
    
}
.product-store {
    display: inline-block;
    color: #a2a4ab ;
    font-size: 0.8rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 0px;
    
}
.product-price-store {
    text-align: center;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 0px;
}